---
import BaseLayout from "@layout/BaseLayout.astro";

// Hero
const preTitle = "Core Value";
const title = "핵심가치";
const subTitle =
  "마도학자 주식회사의 핵심가치";

// Comparison Table Link
const compareLink = "editions";
const compareLinkAriaLabel =
  "마도학자 주식회사";


// Features
const features = [
  {
    title: "Exploration",
    description:
      "끊임없는 탐구 정신으로 소프트웨어의 품질을 높이고, 고객에게 더 나은 경험을 제공합니다.",
    className: "value-exploration",
  },
  {
    title: "Fusion",
    description:
      "창의성을 바탕으로 기존의 기술과 아이디어를 융합하여, 새로운 가치를 창조합니다.",
    className: "value-fusion",
  },
  {
    title: "Practicality",
    description:
      "실용성이 없는 소프트웨어는 의미가 없습니다. 고객이 실제로 활용할 수 있도록 만들어, 세상을 더 나은 곳으로 변화시킵니다.",
    className: "value-practicality",
  },
  
];
---

<BaseLayout>
  <section class="mx-auto max-w-[85rem] px-4 pb-12 pt-40 sm:px-6 lg:px-8 bg-linear-to-br/oklch from-yellow-200 via-transparent to-white">
    <div class="max-w-7xl">
      <div class="mx-auto max-w-xl lg:mx-0">
        <p class="text-base/7 font-medium text-slate-400">{preTitle}</p>
        <h1
          class="mt-1 text-balance text-4xl text-slate-800 sm:text-5xl md:text-6xl lg:text-7xl"
        >
          {title}
        </h1>
        <p
          class="mt-8 text-pretty text-lg font-medium text-slate-700 sm:text-xl/8"
        >
          {subTitle}
        </p>
        <a
          href={compareLink}
          target="_blank"
          class="group mt-5 inline-flex items-center justify-center gap-x-2 text-center font-medium text-slate-700 shadow-lg shadow-transparent transition duration-300 hover:text-slate-400 focus:outline-hidden"
          aria-label={compareLinkAriaLabel}
        >
        </a>
      </div>
    </div>
  </section>

  <section class="py-20 sm:py-20">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <dl class="grid grid-cols-1 gap-x-3 gap-y-16 text-center lg:grid-cols-3">
        {
          features.map(({ title, description, className }) => (
            <div class={`flex flex-col gap-y-4 bg-yellow-100 p-10 ${className}`}>
              <dt class="text-base/7 text-slate-600">{description}</dt>
              <dd class="order-first text-3xl font-medium tracking-tight text-slate-900">
                <h3>{title}</h3>
              </dd>
            </div>
          ))
        }
      </dl>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
</BaseLayout>
